.DS_Store                     
Teaching Statement ideas.txt  
main.fls                      
main.synctex.gz               
research statement/
main.aux                      
main.log                      
main.fdb_latexmk                                
reference.bib
